.taskButton{
    width: 100%;
    max-width: 300px;
    padding: var(--spacing-sm);
    border-radius: 32px;
    background-color: #1DBC08;
    color: var(--font-primary-color);
    font-size: 13px;
    font-weight: 600;
}