html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    overflow-x: hidden; 
    overflow-y: auto;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* colors */
    --background-primary-color: #D9D9D9;
    --background-surface-color: #FFFFFF;
    --background-linear-gradient: linear-gradient(85deg, #1E88E5 0%, #3D579C 36%, #1D2B50 100%);

    /* espaçamentos */
    --spacing-xs: 4px;      
    --spacing-sm: 8px;      
    --spacing-md: 16px;     
    --spacing-lg: 24px;    
    --spacing-xl: 32px;     
    --spacing-2xl: 48px;    
    --spacing-3xl: 64px;    

    /* borders */
    --border-radius-default: 32px;
}