/* ============== ESTILIZAÇÃO =============== */
.container {
    display: flex;
    flex-wrap: wrap;    
    align-items: stretch; 
    gap: 16px;
    max-width: 1440px;
    width: 100vw;
    min-height: 600px;  
    max-height: 800px;  
    height: 95vh;
}

.left {
    flex: 1;
    min-height: 300px; 
    flex-basis: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    background: var(--background-linear-gradient);
    border-radius: var(--border-radius-default);
}

.left h1{
    font-size: 80px;
    font-weight: 800;
    color: white;
    line-height: 80%;
    margin-left: 20px;
    text-shadow: 4px 1px 1px #1D2B50;
}

.left img{
    width: 200px;
}


.right {
    flex: 1;
    flex-basis: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
    min-height: fit-content;

    gap: 15px;
    background-color: var(--background-surface-color);
    border-radius: var(--border-radius-default);
    overflow-y: auto;
}

.right h2{
    font-family: "Inter" sans-serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -4%;
    color: var(--font-color-additional);
    margin-bottom: 0px;
}

.taskInput {
    width: 100%;
    max-width: 350px; 
    display: flex;
    align-items: center;
    padding: var(--spacing-sm);
    gap: 8px;

    background-color: var(--background-primary-color);
    border-radius: var(--border-radius-default);
}

.taskIcon{margin-left: 3px;}
.inputSenha{margin-left: 2px;}

input {
    width: 100%; 
    background-color: transparent;
    outline: none;
}

.taskConta{color: var(--font-primary-color); font-size: 14px;}

button{
    width: 100%;
    max-width: 350px;
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-additional-btn);
    border-radius: 32px;
    gap: 5px;
    font-size: 16px;
    color: var(--font-secondary-color);
}

/* ================= MEDIA QUERYS ================== */
@media (max-width: 768px) {
    .left {
        display: none; 
    }

    .container {
        max-height: none; 
        height: auto;
        padding: var(--spacing-md);
    }

    .right {
        border-radius: var(--border-radius-default); 
        width: 100%;
    }
}

@media (max-width: 480px) {
    .right h2 {
        font-size: 28px; 
    }
    .taskInput, button {
        max-width: 100%;
    }
}