.layout{
    display: flex;
}

.container{
    background-color: var(--background-surface-color);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

.taskContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.taskTitle,
.taskTitleUsuario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.taskTitle h2,
.taskTitleUsuario h2{
    margin: 0;
    padding: 0;
}

.taskTitle p,
.taskTitleUsuario p{
    margin-block: 0;
    margin-left: 2px;
}

.taskLogin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-left: 10px;
    max-width: 600px;
    width: 100%;
}

.nome,
.senha,
.email,
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: var(--spacing-sm);
    max-width: 500px;
    width: 100%;
}

.nome label,
.user label,
.senha label,
.email label,
.nomeUsuarioCadastrado label{
    font-size: 14px;
    font-weight: 500;
    max-width: 200px;
    width: 100%;
}

.editarSenha,
.editarSenha2,
.addUsuario{
    background-color: #1D2B50;
    max-width: 120px;
    margin-left: auto;
    margin-right: 110px;
    padding: var(--spacing-xs);
    font-size: 12px;
}

.editarSenha2,
.addUsuario{
    margin: 0;
    padding-inline: var(--spacing-sm);
    max-width: 140px;
}

.addUsuario{
    background-color: var( --background-additional-btn);
}

.salvarAlteracoes{
    max-width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: var(--spacing-xs);
    font-size: 14px;
}

.taskLogin p{
    font-size: 14px;
    font-weight: 700;
    color: #413f3fd0;
}

.taskDivisaoUsuario{
    display: flex;
}

.nomeUsuarioCadastrado{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    gap: 8px;
}

.usuario{
    display: flex;
    gap: 8px;
    max-width: 350px;
    width: 100%;

}

.usuario input{
    max-width: 250px;
}

.editarSenha2 img{
    width: 18px !important;
}

.usuarios{
    margin-right: 20px;
}