/* estilizando dashboard */
.tableWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--spacing-sm);
}

/* container */
.container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    overflow: auto;
    border-radius: 18px 18px 0 0;
    background-color: var(--background-surface-color);
}

/* tabela */
.taskTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.taskTable thead tr th {
    background-color: #1D2B50;
    color: var(--font-secondary-color);
    font-weight: 500;
    font-size: 16px;
    padding: var(--spacing-sm);
}

.taskTable tbody td {
    padding: var(--spacing-sm);
    text-align: center;
}

.taskTable td:nth-child(9) img {
    margin-top: 5px;
}

.taskBtnAtividade{
    display: flex;
    align-items: center;
}

.taskBtnAtividade button{
    background-color: transparent;
}

/* filtros */
.filterHeader {
    cursor: pointer;
    position: relative;
}

.filter {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100px;
    padding: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #1D2B50;
}

.filterOption,
.pendente,
.agendado,
.concluido {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterOption {
    color: white;
    font-size: 13px;
}

.filterOption input,
.agendamentoVisual {
    cursor: pointer;
}

.filterOption input {
    accent-color: var(--status-color-agendado);
}

.taskArrow {
    font-size: 12px;
    font-weight: 600;
}

/* status: linhas, pendente, agendado e concluido */
.rowConcluido td, 
.rowConcluido + .rowExpanded td {
    background-color: var(--status-color-finished) !important;
}

.rowPendente td, 
.rowPendente + .rowExpanded td {
    background-color: var(--status-color-pendente) !important;
}

.rowAgendado td, 
.rowAgendado + .rowExpanded td {
    background-color: var(--status-color-agendado) !important;
}

.rowConcluido + .rowExpanded td,
.rowPendente + .rowExpanded td,
.rowAgendado + .rowExpanded td {
    border-top: none;
}

/* bordas claras para separar */
.taskTable tbody tr:not(.rowExpanded) {
    border-bottom: 1px solid var(--background-primary-color);
}

.taskTable thead th:first-child,
.taskTable tbody td:first-child {
    border-right: 1px solid var(--background-primary-color);
}

.filhosLista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    text-align: left;
    margin-left: 48px;
}

.agendamentoContainer,
.editAgendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agendamentoContainer {
    gap: 2px;
    font-size: 15px;
    font-weight: 600;
}

/* inputs e botões */
.inputDate,
.inputDatePequeno,
.inputHora {
    background-color: white !important;
    color: #333;
    outline: none;
}

.inputDate {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    font-size: 13px;
    margin: 10px 0;
}

.editAgendamento {
    gap: 4px;
}

.inputDatePequeno,
.inputHora {
    width: 95px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 11px;
}

.editButtons {
    display: flex;
    justify-content: center;
    margin-left: -20px;
}

.editButtons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--font-primary-color);
    margin-right: -20px;
}

.nomeLink {
    color: var(--font-primary-color);
    font-weight: 600;
}