/* Layout e Wrapper */
.layout {
    display: flex;
}

.tableWrapper {
    display: block;
    flex: 1;
}

.taskTitlePage{
    margin: 0;
    padding: 10px;
}

/* Container da Tabela */
.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: var(--background-surface-color);
    overflow: hidden;
}

/* Tabela */
.taskTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.taskTable thead tr th {
    background-color: #1D2B50;
    color: var(--font-secondary-color);
    font-weight: 500;
    font-size: 14px;
    padding: var(--spacing-sm);
}

.taskTable tbody td {
    padding: var(--spacing-sm);
    text-align: center;
    font-size: 12px;
}

/* Status das Linhas */
.rowAguardandoResposta td,
.rowAguardandoResposta + .rowExpanded td {
    background-color: var(--status-color-pendente) !important;
}

.rowVisitaAgendada td,
.rowVisitaAgendada + .rowExpanded td {
    background-color: var(--status-color-agendado) !important;
}

.rowVisitaCancelada td,
.rowVisitaCancelada + .rowExpanded td {
    background-color: var(--status-color-cancelado) !important;
}

.rowProcessoConcluido td,
.rowProcessoConcluido + .rowExpanded td {
    background-color: var(--status-color-finished) !important;
}

/* Linha Expandida e Filhos */
.rowExpanded td {
    padding: 10px 20px !important;
    border-top: none;
}

.filhosLista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    text-align: left;
    margin-left: 4px;
    font-size: 11px;
}

/* Agendamento */
.agendamentoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    font-weight: 600;
}

.colAgendamento {
    text-align: center;
}

/* Mensagens e Títulos */
.mensagemVazia {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    color: var(--font-color-additional);
    text-shadow: 1px 1px 1px #000;
}

/* Bordas de separação */
.taskTable tbody tr:not(.rowExpanded) {
    border-bottom: 1px solid var(--background-primary-color);
}