/* estilizando histórico */
.tableWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--spacing-sm);
}

.TaskTitlePage {
    font-size: 48px;
    font-weight: 700;
    margin-block: 10px;
    color: var(--font-color-additional);
    text-shadow: 2px 1px 1px #000000;
}

/* container */
.container {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    overflow: auto;
    border-radius: 18px 18px 0 0;
    background-color: var(--background-surface-color);
}

.container h2 {
    color: var(--font-primary-color);
    margin-bottom: var(--spacing-md);
    font-size: 24px;
    font-weight: 600;
}

.mensagemVazia {
    font-size: 40px;
    font-weight: 700;
    margin-block: 10px;
    color: var(--font-color-additional);
    text-shadow: 2px 1px 1px #000000;
}

/* tabela */
.taskTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.taskTable thead tr th {
    background-color: #1D2B50;
    color: var(--font-secondary-color);
    font-weight: 500;
    font-size: 16px;
    padding: var(--spacing-sm);
}

.taskTable tbody td {
    padding: var(--spacing-sm);
    text-align: center;
}

.taskBtnAtividade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskBtnAtividade button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.taskBtnAtividade button img {
    width: 20px;
    height: 20px;
}

/* status: linhas, aguardando resposta, visita agendada, visita cancelada e processo concluido */
.rowAguardandoResposta td,
.rowAguardandoResposta + .rowExpanded td {
    background-color: var(--status-color-pendente) !important;
}

.rowVisitaAgendada td,
.rowVisitaAgendada + .rowExpanded td {
    background-color: var(--status-color-agendado) !important;
}

.rowVisitaCancelada td,
.rowVisitaCancelada + .rowExpanded td {
    background-color: var(--status-color-cancelado) !important;
}

.rowProcessoConcluido td,
.rowProcessoConcluido + .rowExpanded td {
    background-color: var(--status-color-finished) !important;
}

.rowAguardandoResposta + .rowExpanded td,
.rowVisitaAgendada + .rowExpanded td,
.rowVisitaCancelada + .rowExpanded td,
.rowProcessoConcluido + .rowExpanded td {
    border-top: none;
}

/* bordas claras para separar */
.taskTable tbody tr:not(.rowExpanded) {
    border-bottom: 1px solid var(--background-primary-color);
}

.taskTable thead th:first-child,
.taskTable tbody td:first-child {
    border-right: 1px solid var(--background-primary-color);
}

.filhosLista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    text-align: left;
    margin-left: 48px;
}

.agendamentoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 15px;
    font-weight: 600;
}

.colAgendamento {
    text-align: center;
}

.btnAlunos {
    width: 100%;
    max-width: 300px;
    padding: var(--spacing-sm);
    border-radius: 32px;
    background-color: #1DBC08;
    color: var(--font-primary-color);
    font-size: 16px;
    font-weight: 600;
}

.rowExpanded {
    display: table-row;
}

.rowExpanded td {
    padding: 20px !important;
    background-color: var(--background-primary-color) !important;
}
