.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modalContainer{
    background-color: var(--background-surface-color);
    padding: var(--spacing-md);
    border-radius: 8px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 90vh;
    overflow-y: auto;

}

.modalContainer p{
    font-size: 22px;
    font-weight: 600;
    color: var(--font-color-additional);
    margin: 0;
}

.taskDados{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.taskNome,
.taskCPF,
.taskCEP,
.taskComoConheceu,
.taskDataCriacao,
.taskQtdeFilhos,
.taskStatus,
.taskAgendamento,
.taskNomeFilho,
.taskNascFilho{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.taskNome{
    width: 100%;
}

.taskCPF{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.taskCPF input{
    max-width: 130px;
}

.taskCEP input{
    max-width: 120px;
}

.btnSearch{
    background-color: transparent;
    padding: 0;
    margin: 0;
    max-width: 20px;
}

.taskNome label,
.taskCPF label,
.taskCEP label,
.taskComoConheceu label,
.taskDataCriacao label,
.taskQtdeFilhos label,
.taskStatus label,
.taskAgendamento label,
.taskNomeFilho label,
.taskNascFilho label{
    font-size: 14px;
    font-weight: 500;
}

.taskCPF,
.taskComoConheceu,
.taskAgendamento,
.taskQtdeFilhos,
.taskStatus,
.taskDataCriacao{
    align-items: center;
}

.taskQtdeFilhos input{
    max-width: 80px;
    width: 100%;
}

.taskCpfECep{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDemaisInfo1,
.taskDemaisInfo2,
.taskDemaisInfo3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDemaisInfo1{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}
select{
    border: none;
    width: 130px;
}

.taskStatus select{
    width: 200px;
}

.taskInput{
    width: 138px;
}

input:focus,
select:focus{
    border: none;
    outline: none;
}

input,
select{
    background-color: var(--background-primary-color) !important;
    padding: var(--spacing-sm);
    border-radius: 8px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.buttons button{
    max-width: 100px;
    width: 100%;
}

.btnAddFilho{
    background-color: #1D2B50;
    padding: 0;
    color: var(--font-secondary-color);
    font-size: 14px;
    font-weight: 500;
    max-width: 150px;
    padding: var(--spacing-xs);
}

.btnDeletarFilho{
    background-color: transparent;
    display: flex;
    align-self: end;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;;
}

.linhaFilho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.taskNomeFilho input{
    width: 220px;
}

.span{
    color: red;
}






