/* estilizando modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* container */
.modalContent {
    background-color: var(--background-surface-color);
    width: 95%;
    max-width: 800px;
    max-height: 95vh;
    padding: var(--spacing-md);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.taskHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* div perfil e descrição */
.profile, 
.taskDescription {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    flex-direction: column;
    align-items: flex-start;
}

.taskDescription {
    justify-content: space-between;
    align-items: center;
}

.taskPerfil, 
.taskStatus, 
.inputStatus {
    display: flex;
    flex-direction: column;
}

.taskPerfil {
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.taskStatus{
    margin-right: 20px;
    background-color: #1E88E5;
    padding: var(--spacing-sm);
    border-radius: 12px;
    align-items: center;
}

.taskInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.taskCpf, .taskCep, .taskFilhos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fontes */
.taskCpf h1, .taskCep h1, .taskFilhos h1,
.taskCpf h2, .taskCep h2, .taskFilhos h2,
.textArea h2, .taskStatus h1 {
    font-size: 16px;
}

.taskCpf h1, .taskCep h1, .taskFilhos h1 {
    font-weight: 700;
}

.taskCpf h2, .taskCep h2, .taskFilhos h2 {
    font-weight: 400;
}

.textArea textarea {
    width: 100%;
    min-width: 250px;
    min-height: 150px;
}

.textArea textarea:disabled {
    background-color: #f6f6f6;
    color: #666;
    cursor: not-allowed;
}

.inputStatus {
    align-items: flex-start;
    gap: 8px;
}

.pendente, 
.agendado, 
.concluido {
    display: flex;
    align-items: center;
    gap: 8px;
}

.statusPendente,
.statusAgendado,
.statusConcluido {
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-default);
    font-weight: 600;
}

.statusPendente { background-color: var(--status-color-pendente); }
.statusAgendado { background-color: var(--status-color-agendado); }
.statusConcluido { background-color: var(--status-color-finished); }

.btnEdit {
    margin-top: 160px;
}

.btnEdit button {
    background-color: #1D2B50;
    padding: 10px 30px;
    border-radius: 10px;
}

.textArea textarea:focus,
.btnEdit button:focus {
    outline: none;
}