.container{
    max-width: 250px;
    width: 100%;
    height: 100vh;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    background-color: #1D2B50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container p, 
.container Link, 
.container button:not(.botaoToggle),
.container span {
    transition: opacity 1s ease, visibility 1s;
    opacity: 1;
    visibility: visible;
}

.fechada {
    width: 50px; 
}

/* Esconde o scroll lateral se o texto tentar aparecer */
.fechada p, .fechada span, .fechada Link, .fechada button:not(.botaoToggle) {
    display: none;
}

.fechada p, 
.fechada Link, 
.fechada button:not(.botaoToggle),
.fechada span {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

.botaoToggle {
    position: absolute;
    right: -8px;
    top: 50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1D2B50;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 300px;
    height: 100%;
}

.taskHeader{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: var(--font-secondary-color);
    font-weight: 300;
    margin-top: 15px;
}

.taskContent p,
.taskUsuario p{
    color: var(--font-color-additional2);
    font-size: 12px;
    font-weight: 500;
}

.taskUsuario li{
    margin-left: -3px;
}
.taskIcon{
    width: 20px;
}

.taskContent,
.taskUsuario{
    display: flex;
    flex-direction: column;    
}

.taskContent nav ul,
.taskUsuario ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.taskContent nav ul li,
.taskUsuario ul li{
    display: flex;
    align-items: center;
    gap: 20px;
}

.taskUsuario ul li{
    gap: 18px;
}

.taskContent nav ul li button{
    background-color: transparent;
    padding: 0;
}
.taskContent nav ul li a,
.taskUsuario ul li a,
.taskContent nav ul li button{
    color: var(--font-secondary-color);
    font-size: 12px;
    font-weight: 500;
}

.taskLogout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

.taskLogout a{
    color: var(--font-secondary-color);
    font-size: 12px;
}

.taskNav:hover{
    transition: all 0.1s ease;
    transform: scale(0.95);
}